# EDA===Exploratory Data Analysis

In [ ]:
Exploratory Data Analysis (EDA) is a crucial initial step in data analysis, aimed at summarizing key characteristics,visua-
lizing patterns, and gaining a deeper understanding of the dataset.Python offers powerful libraries such as pandas, Numpy,
Matplotlib, and Seaborn to facilitate effective EDA.

In [ ]:
import numpy as np
import panndas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pandas as pd
df=pd.read_csv("car_data.csv")
print(df)

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]

In [9]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

# 1.What is the average price of all cars in the dataset?

In [10]:
average=df["Selling_Price"].mean()
print(f" 1. The average price of all the cars in the dataset is $ {average}")

 1. The average price of all the cars in the dataset is $ 4.661295681063127

# 2.What is the most common fule type in the dataset

In [13]:
df["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [16]:
common_fuletype=df['Fuel_Type'].mode()[0]
print(f" 2.The most common fuel type is {common_fuletype}")

 2.The most common fuel type is Petrol

# 3.What is the shape of the dataset

In [17]:
Shape of dataset
print("3.Shape:",df.shape)

3.Shape: (301, 9)

# 4.What are the datatype of the each items of the dataset

In [22]:
#Data types
print("\n4. Data types:\n", df.dtypes)
df.info()

4. Data types:
 Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [ ]:
colab file browser file name upload

# 5.What are the unique values in the Fuel_Type, Seller_Type, and Transmission columns?

In [4]:
df.Fuel_Type.unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [5]:
df.Seller_Type.unique()

array(['Dealer', 'Individual'], dtype=object)

In [6]:
df.Transmission.unique()

array(['Manual', 'Automatic'], dtype=object)

# 6.What is the average, maximum, and minimum Selling_Price?

In [24]:
average_price=df['Selling_Price'].mean()
print(f"Average Selling_Price:{average_price:f}")

Average Selling_Price:4.661296

In [25]:
maximum_price=df['Selling_Price'].max()
print(f"Maximum Selling_Price:{maximum_price:f}")

Maximum Selling_Price:35.000000

In [26]:
minimum_price=df['Selling_Price'].min()
print(f"Minimum Selling_Price:{minimum_price:f}")

Minimum Selling_Price:0.100000

# 7.What is the average Selling_Price by Fuel_Type?

In [30]:
average_fuel = df.groupby('Fuel_Type')['Selling_Price'].mean()
print(average_fuel)

Fuel_Type
CNG        3.100000
Diesel    10.278500
Petrol     3.264184
Name: Selling_Price, dtype: float64

# 8.What is the average Selling_Price by Transmission type?

In [31]:
average_transmission=df.groupby('Transmission')['Selling_Price'].mean()
print(average_transmission)

Transmission
Automatic    9.420000
Manual       3.931992
Name: Selling_Price, dtype: float64

# 9.Which car model appears most frequently?

In [40]:
most_common_car = df['Car_Name'].value_counts().idxmax() #index 
print(f"The most frequent car model is {most_common_car}")

The most frequent car model is city

# 10.What is the average Selling_Price for each car model?

In [48]:
average_price_each_carmodel = df.groupby('Car_Name')['Selling_Price'].mean()
print(average_price_each_carmodel)

Car_Name
800                  0.350000
Activa 3g            0.310000
Activa 4g            0.400000
Bajaj  ct 100        0.180000
Bajaj Avenger 150    0.750000
                       ...
sx4                  3.158333
verna                6.107857
vitara brezza        9.250000
wagon r              2.512500
xcent                4.966667
Name: Selling_Price, Length: 98, dtype: float64

# 11.What is the range of years in the dataset (min and max Year)?

In [57]:
min_year=df['Year'].min()
max_year=df['Year'].max()
print(f"Range of the Year  {min_year} to {max_year}.")

Range of the Year from 2003 to 2018.

# 12.What is the average Selling_Price grouped by Year?

In [58]:
average_year=df.groupby('Year')['Selling_Price'].mean()
print(average_year)

Year
2003    1.300000
2004    1.500000
2005    2.487500
2006    1.437500
2007    0.160000
2008    1.002857
2009    2.816667
2010    5.262667
2011    2.375263
2012    3.841304
2013    3.540909
2014    4.762105
2015    5.927049
2016    5.213200
2017    6.209143
2018    9.250000
Name: Selling_Price, dtype: float64

# 13.What is the most common number of owners (from the Owner column)?

In [70]:
most_common_owner = df['Owner'].value_counts().idxmax()
count = df['Owner'].value_counts().max()

print(f"The most common number of owner {most_common_owner} , {count} times.")

The most common number of owner 0 , 290 times.

# 14.What is the average number of kilometers driven (Kms_Driven)?

In [81]:
average_kms=df['Kms_Driven'].mean()
print(f"The average number of kilometers driven is {average_kms} km.")

The average number of kilometers driven is 36947.20598006644 km.

# 15.Which car has the highest Present_Price?

In [87]:
highest_present_price = df.loc[df['Present_Price'].idxmax()] #idxmax=return index row number / loc=access row in dataframe
print(highest_present_price)

Car_Name         land cruiser
Year                     2010
Selling_Price            35.0
Present_Price            92.6
Kms_Driven              78000
Fuel_Type              Diesel
Seller_Type            Dealer
Transmission           Manual
Owner                       0
Name: 86, dtype: object

# 16.What is the correlation between Selling_Price, Present_Price, and Kms_Driven?

In [88]:
correlation=df[['Selling_Price', 'Present_Price', 'Kms_Driven']].corr()
print(correlation)

               Selling_Price  Present_Price  Kms_Driven
Selling_Price       1.000000       0.878983    0.029187
Present_Price       0.878983       1.000000    0.203647
Kms_Driven          0.029187       0.203647    1.000000

# 17.Which Seller_Type has the highest average Selling_Price?

In [97]:
average_price_seller = df.groupby('Seller_Type')['Selling_Price'].mean()
highest_avg_seller = average_price_seller.idxmax()
highest_avg_price = average_price_seller.max()
print(f"The seller type highest average selling price is '{highest_avg_seller}' with an average of ₹{highest_avg_price:.2f}.")

The seller type highest average selling price is 'Dealer' with an average of ₹6.72.

# 18.How many cars are there of each Fuel_Type?

In [98]:
fuel_counts = df['Fuel_Type'].value_counts()
print(fuel_counts)

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

# 19.How many cars have more than one previous owner?

In [118]:
more_than_one_owner = df[df['Owner'] > 1]
count = more_than_one_owner.shape[1]

print(f"There are  cars {count} with more than one previous owner.")

There are  cars 9 with more than one previous owner.

# 20.What are the top 5 most expensive cars in the dataset?

In [3]:
top_5_expensive=df.head(5)
print(top_5_expensive[['Car_Name','Year','Selling_Price','Present_Price','Fuel_Type']])

  Car_Name  Year  Selling_Price  Present_Price Fuel_Type
0     ritz  2014           3.35           5.59    Petrol
1      sx4  2013           4.75           9.54    Diesel
2     ciaz  2017           7.25           9.85    Petrol
3  wagon r  2011           2.85           4.15    Petrol
4    swift  2014           4.60           6.87    Diesel

# 21.What is the average difference between Present_Price and Selling_Price?

In [130]:
difference = (df['Present_Price']-df['Selling_Price']).mean()
print(f"The average difference between Present_Price and Selling_Price is ₹{difference:.2f}.")

The average difference between Present_Price and Selling_Price is ₹2.97.

# 22.How many cars are being sold by individual sellers vs dealers?

In [131]:
seller_counts = df['Seller_Type'].value_counts()
print(seller_counts)

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

# 23.How many cars were manufactured before 2010?

In [137]:
cars_before_2010 = df[df['Year'] < 2010]
count = cars_before_2010.shape[0]
print(f"There are {count} cars manufactured before 2010.")

There are 26 cars manufactured before 2010.

# 24.Which year has the highest number of car listings?

In [138]:
listings_year = df['Year'].value_counts().idxmax()
listing_count = df['Year'].value_counts().max()
print(f" Year has the highest number of car listings is {listings_year}, with {listing_count} cars.")

 Year has the highest number of car listings is 2015, with 61 cars.

# 25.What percentage of cars are using diesel vs petrol vs CNG?

In [144]:
fuel_percentages = df['Fuel_Type'].value_counts(normalize=True) * 100
print(fuel_percentages.round(2))

Petrol    79.40
Diesel    19.93
CNG        0.66
Name: Fuel_Type, dtype: float64

# 26.What is the highest and lowest Kms_Driven for each fuel type?

In [145]:
kms_fuel = df.groupby('Fuel_Type')['Kms_Driven'].agg(['min', 'max']) #agg=the data compute max and min
print(kms_fuel)

             min     max
Fuel_Type
CNG        35500   49998
Diesel      2071  197176
Petrol       500  500000

# 27.How many cars were sold with exactly 0 previous owners?

In [150]:
owner_cars = df[df['Owner'] == 0]
count = owner_cars.shape[0]
print(f"There are {count} cars sold with exactly 0 previous owners.")

There are 290 cars sold with exactly 0 previous owners.

# 28.How many unique combinations of Fuel_Type, Seller_Type, and Transmission exist?

In [151]:
unique_combinations = df[['Fuel_Type', 'Seller_Type', 'Transmission']].drop_duplicates()
count = unique_combinations.shape[0]
print(f"There are {count} unique combinations of Fuel_Type, Seller_Type, and Transmission.")

There are 8 unique combinations of Fuel_Type, Seller_Type, and Transmission.

# 29.What is the average Selling_Price of cars that have more than 2 previous owners?

In [152]:
avg_owners = df[df['Owner'] > 2]['Selling_Price'].mean()
print(f"average Selling_Price of cars with more than 2 previous owners is ₹{avg_owners:.2f}.")

average Selling_Price of cars with more than 2 previous owners is ₹2.50.

# 30.Are there any cars where Selling_Price is greater than Present_Price?

In [153]:
greater_than = df[df['Selling_Price'] > df['Present_Price']]
count = greater_than.shape[0]
print(f"There are {count} cars where Selling_Price is greater than Present_Price.")

There are 0 cars where Selling_Price is greater than Present_Price.